<!DOCTYPE html>
<html>
    <head>
        <!--source: w3schools.com-->
        <!--makes this page mobile-friendly-->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Destination Perfect</title>
        <link rel="stylesheet" href="page02.css">
        <link href="/css/weather.css" rel="stylesheet" type="text/css">
        <!-- source: w3schools.com-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
           .float-right{
               float : right;
           }
           .button{
               float : right;
            }
        </style>

        <style>

.stretch-card>.card {
     width: 100%;
     min-width: 100%
 }

 body {
     background-color: #f9f9fa
 }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .grid-margin,
 .purchace-popup>div {
     margin-bottom: 25px
 }

 .card {
     border: 0;
     border-radius: 2px
 }

 .card-weather {
     background: #e1ecff;
     background-image: linear-gradient(to left bottom, #d6eef6, #dff0fa, #e7f3fc, #eff6fe, #f6f9ff)
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(0, 0, 0, 0.125);
     border-radius: 0.25rem
 }

 .card-weather .card-body:first-child {
     background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1557323760/weather.svg) no-repeat center;
     background-size: cover
 }

 .card .card-body {
     padding: 1.88rem 1.81rem
 }

 .card-body {
     flex: 1 1 auto;
     padding: 1.25rem
 }

 .card-weather .weather-date-location {
     padding: 0 0 38px
 }

 .h3,
 h3 {
     font-size: 1.56rem
 }

 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Poppins", sans-serif;
     font-weight: 500
 }

 .text-gray,
 .card-subtitle,
 .new-accounts ul.chats li.chat-persons a p.joined-date {
     color: #969696
 }

 p {
     font-size: 13px
 }

 .text-gray,
 .card-subtitle,
 .new-accounts ul.chats li.chat-persons a p.joined-date {
     color: #969696
 }

 .card-weather .weather-data {
     padding: 0 0 4.75rem
 }

 .mr-auto,
 .mx-auto {
     margin-right: auto !important
 }

 .display-3 {
     font-size: 2.5rem
 }

 .card-weather .card-body {
     background: #ffffff
 }

 .card-weather .weakly-weather {
     background: #ffffff;
     overflow-x: auto
 }

 .card-weather .weakly-weather .weakly-weather-item {
     flex: 0 0 14.28%;
     border-right: 1px solid #f2f2f2;
     padding: 1rem;
     text-align: center
 }

 .mb-0,
 .my-0 {
     margin-bottom: 0 !important
 }

 .card-weather .weakly-weather .weakly-weather-item i {
     font-size: 1.2rem
 }



        </style>
    </head>
    <body>
    	<%var weekday = new Array(7); %>
		<%weekday[0] = "Sunday";%>
		<%weekday[1] = "Monday";%>
		<%weekday[2] = "Tuesday";%>
		<%weekday[3] = "Wednesday";%>
		<%weekday[4] = "Thursday";%>
		<%weekday[5] = "Friday";%>
		<%weekday[6] = "Saturday";%>

        <h1> Hello world </h1>
         <% let city = data.city.name %>
         <% let temp1 = Math.round((data.list[0].main.temp - 273.15) * 9/5 )%>
         <% let day1 = weekday[new Date( data.list[0].dt_txt.substring(0,10)).getDay()] %>
         <% let temp2 = Math.round((data.list[8].main.temp - 273.15) * 9/5 )%>
         <% let day2 = weekday[new Date( data.list[8].dt_txt.substring(0,10)).getDay()] %>
         <% let temp3 = Math.round((data.list[16].main.temp - 273.15)* 9/5 ) %>
         <% let  day3 = weekday[new Date(data.list[16].dt_txt.substring(0,10)).getDay()] %>
         <% let temp4 = Math.round((data.list[24].main.temp - 273.15)* 9/5 ) %>
         <% let  day4 = weekday[new Date(data.list[24].dt_txt.substring(0,10)).getDay()] %>
         <% let temp5 = Math.round((data.list[32].main.temp - 273.15)* 9/5 ) %>
         <% let  day5 = weekday[new Date(data.list[32].dt_txt.substring(0,10)).getDay()] %>



<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <!--weather card-->
                <div class="card card-weather">
                    <div class="card-body">
                        <div class="weather-date-location">
                            <h3>Friday</h3>
                            <p class="text-gray"> <span class="weather-date"></span> <span class="weather-location"><%=city%></span> </p>
                        </div>
                        <div class="weather-data d-flex">
                            <div class="mr-auto">
                                <h4 class="display-3"><%= temp1 %><span class="symbol">°</span>F</h4>
                                <p> Cloudy </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="d-flex weakly-weather"> 
                            <div class="weakly-weather-item">
                            	<!-- Day of the week  -->
                                <p class="mb-0"> <%= day1 %> </p> <i class="mdi mdi-weather-cloudy"></i>
                               	<!-- Temperature -->
                                <p class="mb-0"> <%=temp1%>° </p>
                            </div>
                            <div class="weakly-weather-item">
                                <p class="mb-1"> <%= day2 %></p> <i class="mdi mdi-weather-hail"></i>
                                <p class="mb-0"> <%=temp2%>° </p>
                            </div>
                            <div class="weakly-weather-item">
                                <p class="mb-1"> <%= day3 %></p> <i class="mdi mdi-weather-partlycloudy"></i>
                                <p class="mb-0"> <%=temp3%>° </p>
                            </div>
                            <div class="weakly-weather-item">
                                <p class="mb-1"> <%= day4 %></p> <i class="mdi mdi-weather-pouring"></i>
                                <p class="mb-0"> <%=temp4%>° </p>
                            </div>
                            <div class="weakly-weather-item">
                                <p class="mb-1"> <%= day5 %></p> <i class="mdi mdi-weather-pouring"></i>
                                <p class="mb-0"> <%=temp5%>° </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--weather card ends-->
            </div>
        </div>
    </div>

     </body>


</html>
